*.tlog
*.log
*.obj
*.lst
*.cache
*.deps
vc*.pdb
*.lastbuildstate
*.manifest
*.sdf
*.suo
*.ipch
Merikens*.exe
*.lnk
*.opensdf
tripcodes.txt
*.unsuccessfulbuild
*.hsail
WindowsBinaries/OpenCL/*.cl
WindowsBinaries/OpenCL/bin/*.asm
